.card{
border: 1px solid black;
padding: 2rem;
display: flex;
justify-content: center;
width: 120px;
height: 120px;
align-items: center;
border-radius: 10%;
background-color: aqua;
color: black;
border: 3px solid black

}

body{
    background-color: black;
}

.grid{
    height:600px;
    width: 700px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 26%;

}